WORDPRESS_DB_NAME=yt2s
WORDPRESS_DB_USER=yt2s
WORDPRESS_DB_PASSWORD=yt2s_password
MYSQL_ROOT_PASSWORD=root_password
YT2S_API_KEY=change-me
YT2S_CORS_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
